In [1]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
#Player Count: Display the total number of players.
count = len(purchase_data["SN"].value_counts())

#Data frame showing the renamed column and player count
player_count = pd.DataFrame({"Total Players": [count]})

#Align to the left. Reference = https://stackoverflow.com/questions/17232013/how-to-set-the-pandas-dataframe-data-left-right-alignment
player_count = player_count.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

player_count

In [4]:
#Puchasing Analysis (Total) - Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue 
unique_items = len(purchase_data["Item ID"].value_counts())
avg_price = purchase_data["Price"].mean()
total_purchases = len(purchase_data["Purchase ID"].value_counts())
total_revenue = purchase_data["Price"].sum()

#Data frame showing purchasing analysis
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Price": [avg_price],
                                 "Number of Purchases": [total_purchases],
                                  "Total Revenue": [total_revenue]})

#Format average price and total revenue to show 2 decimals and the $ sign
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

#Align to the left
purchase_analysis = purchase_analysis.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

purchase_analysis

In [6]:
#Gender Demographics: Percentage and count of male players, female players, others
#Get the total count of genders by username, do not use total count by gender because there are usernames that repeat'
gender = purchase_data.groupby("Gender")
gender_count = gender.nunique()["SN"]

#Calculate percentage
percentage = (gender.nunique()["SN"] / len(purchase_data["SN"].value_counts())) * 100

#Create dataframe
gender_data_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage})


#Format dataframe by assigning percentage and sort function
gender_data_df["Percentage of Players"] = gender_data_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_data_df = gender_data_df.sort_values(["Total Count"], ascending = False)

#Take out corner index
gender_data_df.index.name = None

#Align to the left
gender_data_df = gender_data_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

gender_data_df

In [7]:
#Purchasing Analysis: Obtain purchase count, average purchase price, purchase total per person by gender
#Purchase count by gender 
purchase_count = gender["Purchase ID"].count()

#Average purchase price by gender
purchase_average = gender["Price"].mean()

#Total sum price by gender
sum_price = gender["Price"].sum()

#Average purchase total per person
average_total = sum_price / gender_count 

#Create dataframe with calculated values
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": purchase_average,
                                    "Total Purchase Value": sum_price,
                                    "Avg Total Purchase per Person": average_total})

#Format dataframe
purchase_analysis_df["Average Purchase Price"]= purchase_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_df["Total Purchase Value"]= purchase_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_df["Avg Total Purchase per Person"]= purchase_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

#Align to the left
purchase_analysis_df = purchase_analysis_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

purchase_analysis_df

In [8]:
#Age Demographics: Establish bins for ages
#Figure out max and min age for bins
(purchase_data["Age"].max())
(purchase_data["Age"].min())
#Max age = 45, min age = 7 

#Create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Groups
group_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice the data and place it into bins
age_demographics = purchase_data
age_demographics["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_label)

#Group by age
summary = age_demographics.groupby("Age Ranges")

#Calculate total count 
total_age_count = summary["SN"].nunique()

#Calculate percentage
age_percentage = (summary["SN"].nunique()/len(purchase_data["SN"].value_counts())) * 100
age_percentage

#Create dataframe with calculated values
age_demographics_df = pd.DataFrame({"Total Count": total_age_count,
                                   "Percentage of Players": age_percentage})

#Format dataframe
age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

#Get rid of index
age_demographics_df.index.name = None

#Align to the left 
age_demographics_df = age_demographics_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

age_demographics_df

In [9]:
#Purchasing Analysis by Age
#Calculate purchase count
purchase_count_age = summary["SN"].count()

#Calculate average purchase price
purchase_average_age = summary["Price"].mean()

#Calculate total sum
purchase_total_age = summary["Price"].sum()
purchase_total_age

#Calculate average total purchase per person (.nunique())
average_total_age = purchase_total_age / total_age_count 

#Create dataframe with calculated values
age_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                               "Average Purchase Price": purchase_average_age,
                               "Total Purchase Value": purchase_total_age,
                               "Avg Total Purchase per Person": average_total_age})

#Format dataframe 
age_analysis_df["Average Purchase Price"]= age_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_analysis_df["Total Purchase Value"]= age_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_analysis_df["Avg Total Purchase per Person"]= age_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

#Add index back 
age_analysis_df.index.name = "Age Ranges"

#Align to the left
age_analysis_df = age_analysis_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

age_analysis_df

In [10]:
#Top Spenders Analysis
#Create a group using "SN"
top_spenders = purchase_data.groupby("SN")

#Purchase count
spenders_count = top_spenders["SN"].count()

#Average purchase price 
spenders_average = top_spenders["Price"].mean()

#Total purchase value
spenders_total = top_spenders ["Price"].sum()

#Create dataframe with calculated values
spenders_df = pd.DataFrame({"Purchase Count": spenders_count,
                           "Average Purchase Price": spenders_average,
                           "Total Purchase Value": spenders_total})

#Sort values by total purchase value
spenders_df = spenders_df.sort_values(["Total Purchase Value"], ascending = False)

#Format dataframe 
spenders_df["Average Purchase Price"]= spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
spenders_df["Total Purchase Value"]= spenders_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

#Align words to the left 
spenders_df = spenders_df.head(5).style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
spenders_df

In [11]:
#Most popular item by Item ID
#Create a group by using Item ID
item = purchase_data.groupby(["Item ID", "Item Name"])

#Calculate purchase count 
purchase_count_id = item["Item ID"].count()

#Calculate item price 
item_price = item["Price"].mean()

#Calculate total purchase value
item_total_purchase = item["Price"].sum()

# Create dataframe with calculated values
items_df = pd.DataFrame({"Purchase Count": purchase_count_id,
                        "Item Price": item_price,
                        "Total Purchase Value": item_total_purchase})


#Format dataframe 
items_df["Item Price"] = items_df["Item Price"].astype(float).map("${:,.2f}".format)
items_df["Total Purchase Value"] = items_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)


#Sort by purchase count column
items_df = items_df.sort_values(["Purchase Count"], ascending = False)

#Align words to the left 
items_df = items_df.head(5).style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

items_df

In [12]:
#Most Profitable Item 
#Create a group by using Item ID
item2 = purchase_data.groupby(["Item ID", "Item Name"])

#Calculate purchase count 
purchase_count_id2 = item2["Item ID"].count()

#Calculate item price 
item_price2 = item2["Price"].mean()

#Calculate total purchase value
item_total_purchase2 = item2["Price"].sum()

# Create dataframe with calculated values
items_df2 = pd.DataFrame({"Purchase Count": purchase_count_id,
                        "Item Price": item_price,
                        "Total Purchase Value": item_total_purchase})

#Change the analysis to a numeric value for sorting
items_df2["Total Purchase Value"] = item2["Price"].sum()

#Sort by purchase count column
items_df2 = items_df2.sort_values(["Total Purchase Value"], ascending = False)

#Format dataframe 
items_df2["Item Price"] = items_df2["Item Price"].astype(float).map("${:,.2f}".format)
items_df2["Total Purchase Value"] = items_df2["Total Purchase Value"].astype(float).map("${:,.2f}".format)

#Align words to the left 
items_df2 = items_df2.head(5).style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])

items_df2